html {
    background-color: #d2ac94;
    color: #282814;
    font-family:'Courier New', Courier, monospace;
}
h1 {
    font-size: 4vh;
}
#textChessboard {
    font-family: monospace;
}
.errorMessage {
    color: #fff;
    background-color: #f00;
}
#gridContainer {
    display: grid;
    grid-template-columns: 62vw 28vw;
}
#gridContainer > div {
    padding: 1vw;
}
#chessboardContainer {
    width: 100%;
    height: 85vh;
    position: relative;
}
#chessboardImage {
    image-rendering:pixelated;
    width: 85vh;
    height:85vh;
    object-fit: contain;
}
#rightContainer {
    background-color: #b57e4f;
}
.chessPieceImage {
    position: absolute;
    image-rendering: crisp-edges;
    width: 10.625vh;
    height: 10.625vh;
}
.clickLocationDetector {
    position:absolute;
    width: 10.625vh;
    height: 10.625vh;
    background-color: #ff000000;
    z-index: 1;
}
button {
    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
    font-family:'Courier New', Courier, monospace;
}
button:focus {
    background-color: #efdada;
}
#moveList {
    color: #ffffff;
}