@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --main-color-dark: #b57e4f;
    --main-color-light: #d2ac94;
    --board-color-light: #efdada;
}
html {
    background-color: var(--main-color-light);
    color: #282814;
    font-family: 'Roboto', sans-serif;

}
h1 {
    font-size: 4vh;
}
#textChessboard {
    font-family: monospace;
}
.errorMessage {
    color: #fff;
    background-color: #f00;
}
#gridContainer {
    display: flex;
}
#gridContainer > div {
    padding: 1vw;
}
#chessboardContainer {
    width: 100%;
    height: 85vh;
    position: relative;
    flex: 3;
}
#chessboardImage {
    image-rendering:pixelated;
    width: 85vh;
    height:85vh;
    object-fit: contain;
}
#rightContainer {
    background-color: var(--main-color-dark);
    flex: 1;
    color: #ffffff;
}
.chessPieceImage {
    position: absolute;
    image-rendering: crisp-edges;
    width: 10.625vh;
    height: 10.625vh;
}
.clickLocationDetector {
    position:absolute;
    width: 10.625vh;
    height: 10.625vh;
    background-color: #ff000000;
    z-index: 1;
}
button {
    all: unset;
    background-color: var(--board-color-light);
    padding: 1px 5px;
    color: #282814;
    border: 0;
    border-radius: 0px;
}
button:focus {
    background-color: #efdada;
}
span {
    color: #ffffff;
}
#newGameOptions {
    display: none;
}
#aestheticOptions {
    display: none;
}
#depthInput {
    width: 30px;
}
#captureDepthInput {
    width: 30px;
}
#dynamic-chessboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    width: 85vh;
    height: 85vh;
}
.dynamic-chessboard-square {
    aspect-ratio: 1;
}
.dynamic-chessboard-square-dark {
    background-color: var(--main-color-dark);
}
.dynamic-chessboard-square-light {
    background-color: var(--board-color-light);
}
#console-output{
    background-color: #000000;
    color: #00ff00;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 1lh;
    font-family: monospace;
}
#console-input {
    background-color: #000000;
    color: #00ff00;
    height: 1lh;
    font-family: monospace;
    border-radius: 0px;
}